body{
    margin:0;
    padding:0;
    background-color: rgb(181, 240, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    counter-reset: option-counter;
}

main{
    display: none;
    border:1px solid black;
    height: 50%;
    width: 450px;
    background-color: rgb(230, 230, 230);
}
#question{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding:10px 0px;
}
.option{
    margin: 15px 0;
    background-color: white;
    cursor: pointer;
    height: 40px;
    padding:5px 0px;
    box-sizing: border-box;
    border-radius: 10px;
}
.option:hover{
    background-color: rgb(216, 216, 216);
}
.option::before{
    content: counter(option-counter);
    counter-increment: option-counter;
    position: relative;
    left:-17px;
    font-size: large;
}
button{
    cursor: pointer;
}
.option:active{
    background-color: aliceblue;
}
#next{
    background:linear-gradient(rgb(83, 197, 83) rgb(3, 182, 3) );
    height: 50px;
}
#goBack{
    display: none;
}